<div class="footer">
  <div class="footer-links">
  
    <a href="https://www.instagram.com/oasis.studioyoga/?fbclid=IwAR25ISIECJHG5RW1GY6aFGKq8K2a96dg3ec_xQIw-Zg2t7SE3eo9JeSyklc"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/loasis.studio"><i class="fab fa-facebook"></i></a>
    
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
