<div class="footer">
  <div class="footer-links">
  
    <a href="https://www.instagram.com/oasis.studioyoga/?fbclid=IwAR25ISIECJHG5RW1GY6aFGKq8K2a96dg3ec_xQIw-Zg2t7SE3eo9JeSyklc"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/loasis.studio"><i class="fab fa-facebook"></i></a>
    
  </div>
  <div class="footer-copyright">
  <a href="https://clients.mindbodyonline.com/classic/mainclass?studioid=880652&tg=&vt=&lvl=&stype=-7&view=week&trn=0&page=&catid=&prodid=&date=10%2f4%2f2020&classid=0&prodGroupId=&sSU=&optForwardingLink=&qParam=&justloggedin=&nLgIn=&pMode=0&loc=1" >
    
    <b>Planning de mes cours</b> <i class="far fa-heart"></i>
    </a>
  </div>
</div>
