
    <div class="banner fix-footer img">
      <h1 a text-black>Hortense</h1>
      <h2 class="punchline">« Au fil de tes envies, de tes besoins, laisse toi porter par ce qu’il vient »</h2>
    </div> 
  
<div> 
  <h2 class= "m-3 d-flex justify-content-center">I <i class="far fa-heart"></i></h2>

  <div class="m-3 d-flex flex-nowrap bd-highlight justify-content-center">
    <div class=" m-2 p-2 order-sm-1 flex-fill bd-highlight align-items-stretch ">
      <h3><span class="sketch-highlight">Voyage Sonore Méditatif: </span></h3>
      <p>« Laisser aller l'esprit et réémerger dans un lieu intemporel où vous retrouvez votre état
naturel de paix. »</p>
      <p>
      Tout comme le corps humain, un vaisseau de cristal émet des vibrations et des photons
      qui remplissent l’espace dans toutes les directions.
      Lorsqu’un vaisseau vibre et chante, il entre en résonance avec toutes les parties du corps
      dont celle qui contient de l’oxygène ( l’eau et les liquides ) et du silicium.
      Ils communiquent avec le corps qui lui répond.
      On dialogue vibratoire se fait entre les vaisseaux et le corps.
      C’est comme ça qu’un vaisseau de cristal à la capacité d’apporter du bien-être.
      Pendant un voyage méditatif il vous suffit d’être présent à ce qui est là, d’être à l’écoute
      et de nourrir un état de joie et de gratitude.
          </p>
    </div> 
    <div class="m-2 p-2 order-sm-2 flex-fill bd-highlight illustration1"></div> 
  </div>
  
<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display:none;">
  <defs>
    <filter id="marker-shape">
      <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp" />
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="30" in="SourceGraphic" in2="warp" />
    </filter>
  </defs>
</svg>

  <div class="m-3 d-flex flex-nowrap bd-highlight justify-content-center">
    <div class="m-2 p-2 order-sm-1 flex-fill bd-highlight illustration2"></div>
    <div class=" m-2 p-2 order-sm-2 flex-fill bd-highlight align-items-stretch">
      <h3><span class="sketch-highlight">Carte Oracle Guidance:  </span></h3>
      <p>Les cartes sont un outils pour nous guidées, nous aider à la prise de décision nous
      apporter de la douceur, une confirmation, un encouragement, un mot et, parfois du
      réconfort.</p>
      <p>« On a parfois besoin d’un coup de pouce pour se faire confiance. » </p>
      <p>
     « Les cartes ne sont pas là pour « prédire » l’avenir mais plutôt pour donner une
      direction (guidance) et te proposer des thèmes de réflexion sur ta situation. Elles
      donnent un aperçu de la route à prendre et ce qu’on peut se retrouver à affronter si
      on ne change rien. Il est toujours possible de rectifier le tir et c’est justement leur
      usage principal : vérifier que l’on est sur la bonne voie. C’est aussi une façon de
      mieux se comprendre, de faire face à ses manquements, ses démons, ses
      blocages personnels et de tenter de les contrecarrer pour se faciliter les choses.«
      – Jack Parker
          </p>
    </div> 
 
  </div>
</div>
