
    <div class="banner fix-footer img">
      <h1 text-black>Hortense</h1>
      <h2 class="punchline">« Au fil de tes envies, de tes besoins, laisse toi porter par ce qu’il vient »</h2>
    </div> 
  <div>
    <h3>Voyage Sonore Méditatif : </h3>
    <p>« Laisser aller l'esprit et réémerger dans un lieu intemporel où vous retrouvez votre état
naturel de paix. »</p>
    <p>
    Tout comme le corps humain, un vaisseau de cristal émet des vibrations et des photons
    qui remplissent l’espace dans toutes les directions.
    Lorsqu’un vaisseau vibre et chante, il entre en résonance avec toutes les parties du corps
    dont celle qui contient de l’oxygène ( l’eau et les liquides ) et du silicium.
    Ils communiquent avec le corps qui lui répond.
    On dialogue vibratoire se fait entre les vaisseaux et le corps.
    C’est comme ça qu’un vaisseau de cristal à la capacité d’apporter du bien-être.
    Pendant un voyage méditatif il vous suffit d’être présent à ce qui est là, d’être à l’écoute
    et de nourrir un état de joie et de gratitude.
        </p>
  </div>

