.navcolor{
    background: linear-gradient(0deg, #ffff , rgba(253, 253, 232, 0.95) 100%);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 0rem;
}
.footer {
    background: linear-gradient(0deg, rgba(253, 253, 232, 0.95), #ffff  100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
    
}
  .footer-links {
    display: flex;
    align-items: center;
}
  .footer-links a {
    color: rgb(193, 165, 214);
    
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}
  .footer-links a:hover {
    opacity: 3;
    color: rgb(169, 114, 209);
}
  .footer .fa-heart {
    color: #D23333 ;
}
  .footer-copyright a:hover {
    color: rgb(193, 165, 214);
    text-decoration: none;

}